extends layouts

block content
  
    .main-section
      .banner-section
        img.banner-section__image(src="https://picsum.photos/1200/500", alt="Nature banner")
      .body-section
        h1.body-section__heading Welcome to our Nature Site
        
        a.body-section__button(href="/services") Explore More

    .call-to-action
      h2.call-to-action__heading Ready to explore the beauty of nature?
      p.call-to-action__paragraph Join us and discover the hidden treasures of our planet.
      a.call-to-action__button(href="/contact") Join Now

