@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

$primary-color: #40513B;
$secondary-color: #609966;
$tertiary-color: #9DC08B;
$bg-color: #EDF1D6;

$family : 'Roboto', sans-serif;
